.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
body {
  background-color: var(--lightGray);
  overflow-y: scroll;
}
body,
button {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 26px;
  line-height: 1.4;
}
h1, h2, h3 {
  font-weight: 400;
}
a {
  color: var(--red);
  text-decoration: none;
}
.underlined-links {
  & a {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      border-bottom: 2px solid color(var(--darkBrown) a(30%));
      opacity: 0;
      transform: scaleX(0.5);
      transition: opacity .2s, transform .2s;
    }
    &:hover,
    &:focus {
      &::before {
        opacity: 1;
        transform: scaleX(1);
      }
    }
  }
}
hr {
  border: none;
  height: 1px;
  margin: 1.5em 0;
  background-color: color(var(--lightGray) a(50%));
}

.sections-wrap {
  position: relative;
  margin: 100vh 0 0;
  max-width: 1300px;
  background-color: color(var(--lightGray) a(95%));

  @media (--medium) {
    margin: 100vh 5% 0;
  }
  @media (--large) {
    margin: 100vh 10% 0;
  }
}
.section {
  padding: 1em 5%;
  font-size: 20px;
  
  @media (--medium) {
    display: flex;
    padding: 2em 2em;
  }
  @media (--large) {
    padding: 3em 4em;
  }

  & p {
    margin-bottom: 1em;
  }
}
.section-heading {
  margin-bottom: .1em;

  @media (--medium) {
    min-width: 210px;
  }
  @media (--large) {
    min-width: 300px;
  }
}
.section-title {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.section-subtitle {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  opacity: 0.7;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-6px, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.site-header {
  user-select: none;
  z-index: 10;
  position: absolute;
  bottom: 10%;
  left: 5%;
  right: 5%;
  color: var(--lightGray);
  cursor: default;

  @media (--medium) {
    bottom: 18%;
    left: 10%;
    right: 10%;
  }
}
.site-nav {
  margin-top: .5em;

  & li {
    display: inline-block;
    margin-top: .3em;
    margin-right: .7em;
    animation: fadeIn .8s 1s backwards;

    &:nth-child(1) {
      animation-delay: 1.1s;
    }
  }
  & a {
    & span {
      display: inline-block;
      transition: transform .12s;
    }
    &:hover,
    &:focus {
      & span {
        transform: skew(-20deg, -20deg);
      }
    }
  }
}
.site-name {
  font-size: 40px;
  line-height: 1;

  @media (--medium) {
    font-size: 46px;
  }
}
.site-name__image {
  float: left;
  margin-right: .7em;
  margin-bottom: .5em;
  animation: fadeIn 1s backwards;
}
.site-name__horns {
  fill: var(--red);
  transform-origin: center;
  animation: fadeInScale 1s .3s backwards;
}
.site-name__letter {
  fill: var(--lightGray);

  &.dark {
    fill: var(--darkBrown);
  }
}
.site-name__text {
  display: inline-block;
  margin-top: .32em;
  margin-bottom: .05em;
  animation: fadeIn 1s .3s backwards;
}
.site-description {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  color: color(var(--lightGray) a(80%));
  transition: opacity .2s;
  animation: fadeIn 1s .4s backwards;

  @media (--medium) {
    font-size: 22px;
  }
}
